
body{
    /* font-family: 'Courier New', Courier, monospace; */
    height: 100%;
    margin: 0;
    background-color: #1E1E1E;
    font-family: system-ui;
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: 60px 30px 30px 0px;
}

li{
    font-size: x-large;
    padding-right: 60px;
    color: #FFFFFF;
    font-weight: bold;
}

.active{
    color: #F7DF1E;
}

span{
    cursor: pointer;
}

.subHeader-mobile{
    display: none;
}

.BienvenidaHeader{
    margin-bottom: 2%;
    margin-top: 5%;
    margin-left: 15%;
    color: #F7DF1E;
}


.NombreH2{
    color: white;
}

.descripcion1{
    color: white;
    width: 40%
}

.containerIcons{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.icon{
    border: 2px solid #F7DF1E;
    border-radius: 100%;
    width: 50px;
    padding: 5px;
    margin-right: 5%;
    margin-bottom: 5%;
}

.button {
    background-color: #1E1E1E; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 5%;
}

.CVButton{
    background-color: 1E1E1E;
    color: white;
    border: 2px solid #F7DF1E;
    border-radius: 10px;
}

.CVButton:hover{
    background-color: #F7DF1E;
    color: black;
}

.image{
    position: absolute;
    left: 60%;
    top: 19%;
    border: 10px solid #F7DF1E;
    padding: 1px 1px 1px 1px;
    box-shadow: 0 0 30px #F7DF1E;
    width: 29%
}

.image img{
    /* width: 400px */
    width: 100%
}

.aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff566b;
    border-radius: 30px;
    height: 800px;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 16%;
    flex-direction:column
}

.aboutMe h1{
    font-size: 40px;
}

.aboutMe h3{
    width: 50%;
}

/* 4k desktop view */
/* @media screen and (max-witd: 2560px) and (min-width: 1444px){
    .image{
        width: 20%;
    }
} */

/* desktop view */


@media only screen and (max-width: 1024px) and (min-width: 849px){
    .image{
        top:19%
    }
    
    .image img{
        width: 100%;
        /* left:60% */
    }

    .BienvenidaHeader{
        margin-left: 10%;
    }

    .containerIcons{
        width: 50%;
    }

    .icon{
        width: 9%;
    }

    .aboutMe{
        margin-top: 24%;
    }


    body{
        background-color: blue;
    }

}

/* tablet to mobile view */

@media  screen and (max-width: 848px) and (min-width: 425px){
    body{
        width: 100%;
        background-color: red;
    }

    .BienvenidaHeader h1{
        text-align: center;
    }

    .BienvenidaHeader{
        margin-top: 0%;
        margin-left: 0%;
    }

    .introduccion{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .subHeader{
        display: none;
    }
    
    .subHeader-mobile{
        display: flex;
        justify-content: flex-end;
        margin: 40px 0px 30px 20px;
    }

    .navbar-toggle{
        background-color: #1E1E1E;
        border: 2px solid #F7DF1E;
        color: white;
        align-items: center;
        text-decoration: none;
        width: 80px;
        height: 50px;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
    }

    .dropdown-content{
        display: none;
        position: absolute;
        background-color: #1E1E1E;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        top: 90px;
        right: 0%;
    }

    .dropdown-content span {
        color: white;
        border: 1px solid #F7DF1E;
        padding:8px 5px;
        text-decoration: none;
        display: block; 
    }

    .NombreH2{
        font-size: 25px;
        margin: 10px 0px;
        text-align: center;
    }

    .BienvenidaHeader h1{
        margin: 10px 0px;
    }

    .image{
        width: 30%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: 0%;
        text-align: center;
    }

    .image img{
        width: 100%;
    }

    .descripcion1{
        text-align: center;
        width: 100%;
    }

    .containerIcons{
        width: 100%;
        justify-content: space-between;
    }

    .icon{
        width: 8%;
        padding: 3px;
        margin-right: 0%;
    }

    .icon{
        padding: 0px;
        margin-right: 0%;
        margin-bottom: 2%;
    }

    .button{
        margin-left: 0%;
        width: 99.9%;
    }

    .aboutMe h3{
        width: 90%;
        font-size: large;
    }
}

@media screen and (max-width: 424px) and (min-width: 320px){
    body{
        background-color: magenta;
    }

    .subHeader{
        display: none;
    }
    
    .subHeader-mobile{
        display: flex;
        justify-content: flex-end;
        margin: 40px 0px 30px 20px;
    }

    .navbar-toggle{
        background-color: #1E1E1E;
        border: 2px solid #F7DF1E;
        color: white;
        align-items: center;
        text-decoration: none;
        width: 80px;
        height: 50px;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
    }

    .dropdown-content{
        display: none;
        position: absolute;
        background-color: #1E1E1E;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        top: 90px;
        right: 0%;
    }

    .dropdown-content span {
        color: white;
        border: 1px solid #F7DF1E;
        padding:8px 5px;
        text-decoration: none;
        display: block; 
    }

    .BienvenidaHeader {
        margin-top: 0%;
        margin-left: 0%;
    }

    .BienvenidaHeader h1{
        font-size: 25px;
        margin: 10px 0px;
        text-align: center;
        
    }

    .NombreH2{
        font-size: 18px;
        margin: 10px 0px;
        text-align: center;
    }

    .image{
        width: 40%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: 0%;
        text-align: center;
    }

    .image img{
        width: 100%;
    }

    .descripcion1{
        text-align: center;
        width: 100%;
    }

    .containerIcons{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .icon{
        padding: 0px;
        margin-right: 0%;
        margin-bottom: 2%;
    }

    .button{
        margin-left: 0%;
        width: 99.5%;
        font-size: 20px;
    }

    .aboutMe h3{
        width: 90%;
        font-size: large;
    }

}




